.container div{
    background-color: beige;
    width: 300px;
    /* lebar*/
    padding: 25px;
    /* ruang antara content dan border */
    border: 25px solid aquamarine;
    /* Garis antara padding dan margin - ukuran stlye -color */
    margin: 25px;
}
.pc{
    border-style: dotted;
    text-align: right;
    background-color: beige;
}
#pid{
    border-style: dotted dashed solid double;
    /* atas kanan bawah kiri */
    color:rgb(189, 173, 110);
}
h2,p{
    text-align: center; 
}